.boardsContent {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 25px;
}

.boardCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: white;
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 20px;
  box-shadow: var(--shadow-lite);
}

.boardCard h2 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--primary);
}

.publicLink {
  background: var(--background);
  border-radius: 8px;
  padding: 10px;
  border: 1px solid var(--border);
}

.publicLink p {
  margin: 0 0 5px 0;
  font-size: 0.8rem;
  color: var(--muted);
  font-weight: 500;
}

.linkContent {
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid var(--border);
  font-size: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.primaryButton {
  text-decoration: none;
  margin-top: auto;
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
  flex: 1;
}

.primaryButton:hover {
  background: color-mix(in srgb, var(--primary), transparent 10%);
}

.secondaryButton {
  background: var(--card);
  color: var(--primary);
  border: 1px solid var(--border);
  padding: 10px 8px;
  border-radius: 8px;
  font-size: 0.85rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.secondaryButton:hover {
  background: var(--background);
}

.actionButtons {
  display: flex;
  gap: 15px;
  /* height: 39.333px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; */
}

.actionButtons .secondaryButton {
  justify-content: center;
}
