/* Элемент для фильтрации игр по жанрам */
.filter {
  margin-top: 40px;
  width: 100%;
  display: flex;
  overflow-x: auto;
  background-color: var(--secondary-background);
  padding: 10px 0px;
  border-radius: 5px;
}

/* Группировка элементов фильтра  */
.filter__group {
  padding: 0 20px;
  align-items: center;
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}

/* Чекбокс фильтра */
.filter__checkbox {
  width: 15px;
  height: 15px;
  accent-color: var(--accent-color);
}

/* Кнопка открытия фильтра */
.filter-button {
  display: none;
  margin-top: 40px;
  padding: 10px;
  width: 210px;
}

/* Каталог игр */
.games-catalog {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}

/* Карточка игры */
.game-card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 4px #00000028;
  background-color: var(--secondary-background);
  padding: 10px;
  gap: 10px;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 3px 3px 5px #00000042;
}

/* Картинка игры */
.game-card__image {
  border-radius: 5px;
  box-shadow: 2px 2px 4px #0000002f;
  object-fit: cover;
  width: 320px;
  height: 200px;
}

/* Адаптация под планшетную версию */
@media (max-width: 768px) {
  .filter-button {
    display: inline;
  }

  .filter {
    display: none;
  }

  .game-card__image {
    width: 280px;
    height: 160px;
  }
}

/* Адаптация под мобильную версию */
@media (max-width: 360px) {
  .game-card__image {
    width: 250px;
    height: 140px;
  }
}
